/node_modules

storage/logs/*.log
storage/logs/*/*.log

!/storage/logs/queue/.gitignore
/storage/redis/*.log

/vendor
.env
.idea/*

workspace/*

composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
